.bg {
  background-color: rgb(46, 47, 70);
  color: white;
}


.header {
  font-size: 58px;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
  text-align:center;
  color: rgb(213, 222, 222);
  background-color: rgb(34, 35, 53);
}

.links {
  font-size: 52px;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
  text-align:center;
  list-style: none;
}

.spicynoodles {
  color: rgb(255, 0, 0);
}

.avocadotoast {
  color: rgb(0, 173, 64);
}

.cashewsauce {
  color: rgb(255, 234, 179);
}